
.button {
    padding: 10px;
    background: @darkseagreen;
    border-radius: 10px;
    width: 100%;
	outline: none;
	
	&_start {
		//background: red;
	}
	
	&_finish {
		background: @cadetblue;
	}

	&_login {
		color: @creamy;
		width: 33vw;
		font-weight: bold;
		font-size: 18px;
		background: @cadetblue;

		cursor: pointer;
	}

	&_reg {
		color: @creamy;
		width: 33vw;
		font-weight: bold;
		font-size: 18px;

		cursor: pointer;
	}
}