/*body {
    background: #fafafa;
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    margin: 0;
}

.disabled-cursor {
    cursor: default;
}*/

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2vh 5vw 0 5vw;
}

.inner-wrap { 
    display: flex;
    justify-content: space-between; 
    /*margin: 45px 5vw 0 5vw;*/
}

/*.quotebar {
    background: #fafafa;
    border-radius: 15px;
    margin-bottom: 2vh;
    padding: 5px 10px 5px 10px;
    box-shadow: inset 0px 0px 40px 0px #e1d1cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quotebar_hidden {
    display: none;
}

.quotebar_shown {
    display: block;
}

.quotebar p {
    margin: 0.3%;
    font-size: 84%;
}

.quoteText {
    text-align: center;
}

.authorText {
    text-align: right;
    font-style: italic;
}*/

/*.bar {
    background: rgba(133, 59, 36, 0.21);
    border-radius: 10px;
    width: 230px;
    padding: 15px;
}

.bar div {
    margin-bottom: 20px;
}

.bar div p {
    margin: 0;
}*/

/*button {
    padding: 10px;
    background: rgb(255, 99, 99);
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.button_start {
    background: red;
}

.button_finish {
    background: green;
}*/



/*textarea {
    width: 90%;
    height: 25vh;
    outline: none;
    resize: none;
    margin-top: 5px;
}*/

/*.main {
    position: relative;
    background: rgb(133, 36, 36);
    border-radius: 15px;
    padding: 4.5vmin;
    height: 77.5vmin;
    margin: 0 2vw 0 2vw;
}*/

.board {
    position: relative;
    width: 77vmin;
    height: 77vmin;
    margin: 0.5vmin;
}

.tablo {
    position: absolute;
    top: 15vh;
    width: 100%;
    text-align:center;
    color: rgb(182, 18, 18);
    font-weight: bold;
    font-size: 35px;
}

.tablo div {
    margin-top: 8vmin;
}

.tablo_shown {
    display: block;
}

.tablo_hidden {
    display: none;
}

table {
    border-spacing: 0; 
}

.game-over {
    opacity: 0.25;
}

.white {
    background: white;
    
}

.black {
    background: black;
    
}

.horizontal {
    top: 82vmin;
}

.vertical {
    left: 1.5vmin;
}

.cell {
    position: relative;
}

.actor {
    height: 75%;
    width: 75%;
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 50px;
    border: 5px;
    border-style: ridge;
}

.checker { 
    border-color: green;
}

.dam {
    border-color: red;
}

.highlight-cell {
    background: orange;
    cursor: pointer;
}

.highlight-actor {
    border-color: orange;
    cursor: pointer;
}

.marks-container {

}

.marks {
    position: absolute;
    display: flex; 
    justify-content: space-around;
    color: darkgrey;
    font-family: Tahoma;
    font-size: 0.9em;
}

.marks_horizontal {
    width: 77vmin;
    flex-direction: row;
}

.marks_vertical {
    width: 2vmin;
    height: 77vmin;
    flex-direction: column;
}

.marks_top {
    top: 1vmin;
}

.marks_bottom {
    bottom: 1vmin;
}

.marks_left {
    left: 1.5vmin;
}

.marks_right {
    right: 1.5vmin;
}